%h2 Sign up
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
    = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
    = f.input :password_confirmation, required: true
    = f.input :username, required: true, placeholder: "Only letters, numbers, dashes and underscores"
    = f.input :bio
    .well.clearfix
      .col-md-4
        = f.label :avatar, class:  'btn btn-block btn-lg btn-primary' do
          Select Your Avatar
          = f.input :avatar, :input_html => { style: 'display: none'}, label: false
      .upload-preview.col-md-8
        = image_tag("", alt: "", class: "img-responsive")
  .form-actions
    = f.button :submit, "Sign up"
= render "devise/shared/links"
