.row
  .col-md-4.col-xs-4= image_tag(@user.avatar.url(:medium), class: "img-responsive circular center-block")
  .col-md-8.col-xs-8
    %br
    %h2
      = @user.username
      .follow-button= render "shared/follow_button"
    %p= @user.bio
    %br
    .row
      .col-md-4.col-xs-4.h5= pluralize(@user.posts.count, "post")
      .col-md-4.col-xs-4.h5= link_to pluralize(@user.followers.count, "follower"), followers_user_path(@user), class: "followers"
      .col-md-4.col-xs-4.h5= link_to "#{@user.following_relationships.count} following", following_user_path(@user), class: "following"
%br
%br

.row
  .posts
    = render @posts
%br

- if @posts.next_page
  .row
    .col-md-4.col-md-offset-4.text-center
      .pagination= link_to "Load more", user_path(@user, page: @posts.next_page), remote: true, class: "btn btn-lg btn-primary"
%br

.modal.fade{tabindex: "-1", role: "dialog"}
