
.jumbotron.text-center
  %h1 Welcome to Instagram
  %p
    = link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg"
    = link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-lg login-button"
.row
  .filters
    - Post::IMAGE_FILTERS.each do |filter|
      .col-md-4.col-xs-4
        %figure{:class => "#{filter}"}=image_tag("image_#{@random_image}.jpeg", class: "img-responsive")
        .overlay.permanent= filter.titleize
        %br
