.col-md-4.col-xs-4
  = link_to(post) do
    %figure{:class => "#{post.image_filter}"}
      = image_tag(post.image.url(:thumb), class: "img-responsive", width: 350)
    .overlay
      %h5
        = post.comments.size
        %span.glyphicon.glyphicon-comment
      %h5
        = post.likes.size
        %span.glyphicon.glyphicon-heart

  %br
