%br
.row
  .col-md-8.col-xs-12
    %figure{:class => "#{@post.image_filter}"}= image_tag(@post.image.url(:medium), class: "img-responsive")
  .col-md-4.col-xs-12
    %p.media
      .media-left= link_to(image_tag(@user.avatar.url(:thumb), class: "img-responsive"), @user)
      %span.media-body
        .h4= link_to @user.username, @user
        = render "shared/follow_button"

    %hr
    %p
      = pluralize(@post.likes.count, "Like")
      %span.pull-right= time_ago_in_words(@post.created_at)

    .comments
      - unless @post.description.blank?
        %p
          = link_to @user.username, @user
          %span.post-description= @post.description
      .comment-pagination= link_to "load more comments", post_comments_path(@post), remote: true, class: "load-more-comments"
      %br
      .comments-content
    %hr
    - if user_signed_in?
      %p
        = simple_form_for [@post, Comment.new] do |f|
          = f.input :content, placeholder: "Add a comment...", label: false
          = f.button :submit, "Submit Comment"
        %br
        - if current_user.likes?(@post)
          = button_to "Unlike", unlike_post_path(@post), method: :delete, class: "btn btn-primary"
        - elsif current_user == @user
          %p= link_to "Delete", @post, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"}
        - else
          = button_to "Like", like_post_path(@post), class: "btn btn-primary"
