.row
  .col-md-8= image_tag(@post.image.url(:medium), class: "img-responsive")
  .col-md-4
    %p
      = link_to(image_tag(@user.avatar.url(:thumb), class: "img-responsive"), @user)
      %span= link_to @user.username, @user
    %hr
    %p
      .likes
      %span.pull-right= time_ago_in_words(@post.created_at)
    %p
      = link_to @user.username, @user
      = @post.description
    .comments
    %hr
    %p= link_to "Delete", @post, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"}
