%nav.navbar.navbar-default
  .container-fluid.col-md-8.col-md-offset-2.col-xs-12
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Instagram", root_path, class: "navbar-brand"
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li &nbsp;&nbsp;&nbsp;&nbsp;
        %li &nbsp;&nbsp;&nbsp;&nbsp;
        .navbar-form.navbar-left
          .form-group.has-feedback
            = search_field_tag :search_term, nil, placeholder: "Search", class: "form-control", size: 25
            %span.glyphicon.glyphicon-search.form-control-feedback

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          = link_to new_post_path, class: "btn btn-primary navbar-btn navbar-left" do
            %span.glyphicon.glyphicon-picture
            New Post

          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %span.glyphicon.glyphicon-menu-hamburger
              = current_user.username
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to user_path(current_user) do
                  %span.glyphicon.glyphicon-user
                  My Profile
              %li
                = link_to feed_users_path do
                  %span.glyphicon.glyphicon-list-alt
                  My Feed
              %li
                = link_to liked_posts_path do
                  %span.badge.likes= current_user.likes.count
                  Liked Posts
              %li.divider
              %li
                = link_to edit_user_registration_path do
                  %span.glyphicon.glyphicon-cog
                  Account Settings
        - else
          %li= link_to "Register", new_user_registration_path
          %li= link_to "Log in", new_user_session_path
    / /.navbar-collapse
  / /.container-fluid
